<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.veroapp">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".KtApplication"
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".CadastroActivity"
                android:label="@string/title_activity_cadastro">
        </activity>
        <activity android:name=".UserNotification">
        </activity>
        <activity
                android:name=".CheckInfoActivity"
                android:label="@string/title_activity_check_info">
        </activity>
        <activity android:name=".StartActivity">
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_login">
        </activity>
        <activity
                android:name="com.journeyapps.barcodescanner.CaptureActivity"
                android:screenOrientation="fullSensor"
                tools:replace="screenOrientation"/>
        <activity
                android:name=".AnyOrientationCaptureActivity"
                android:screenOrientation="fullSensor"
                android:stateNotNeeded="true"
                android:theme="@style/zxing_CaptureTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".KeyManagerActivity"
                android:label="@string/title_activity_key_manager"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.veroapp.MainActivity"/>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
                android:name=".services.CheckNotification"
                android:label="NotificationChecker"
                android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
    </application>

</manifest>